{% extends '../layout.html' %}

{% block script %}
<script src="/js/admin.js"></script>
{% endblock %}

{% block top %}
<!-- 상단메뉴 -->
<div class="top_nav">
  <div class="layout_width inner">
    <a href="/" target="_black">이력서 메인</a>
    <a href="/member/logout">로그아웃</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="layout_width container">
  <div class="profile">
    {% include "./_profile.html" %}
  </div>
  <div class="nav">
    {% include "./_nav.html" %}
  </div>
</div>
{% endblock %}
